 
{% extends 'admin/base.html' %}
{% load static %}

    <!--End header-->
    
    {% block meta_tags %}
        <meta name="description" content="International School & Job Portal - Admissions and Career Opportunities for Global Students and Professionals">
        <meta name="keywords" content="International School, Admissions, Job Portal, Career Opportunities, Global Students, Global Jobs, Education, Apply Now, Employment, University, Scholarships">
        <title>International School & Job Portal - Admissions & Career Opportunities</title>
    {% endblock meta_tags %}

    


{%  block content %}


<body>
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->

    <!-- page-wrapper start -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        {% include 'admin/header.html' %}
        <!-- Page Header Ends-->

        <!-- Page Body start -->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            {% include 'admin/sidebar.html' %}
            <!-- Page Sidebar Ends-->

            <div class="page-body">

                <!-- New Product Add Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Slider Information</h5>
                                            </div>
                                
                                            <form class="theme-form theme-form-2 mega-form" id="addSliderForm" enctype="multipart/form-data" method="post">
                                                <!-- CSRF Token -->
                                                {% csrf_token %}
                                            
                                                <!-- Subtitle -->
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0" for="subTitle">Subtitle</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text" id="subTitle" name="sub_title" placeholder="Enter Subtitle" >
                                                    </div>
                                                </div>
                                            
                                                <!-- Title -->
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0" for="title">Title</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text" id="title" name="title" placeholder="Enter Title" >
                                                    </div>
                                                </div>
                                            
                                                <!-- Paragraph -->
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0" for="paragraph">Paragraph</label>
                                                    <div class="col-sm-9">
                                                        <textarea class="form-control" id="paragraph" name="paragraph" rows="4" placeholder="Enter Description Paragraph" ></textarea>
                                                    </div>
                                                </div>
                                            
                                                <!-- Button Text -->
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0" for="btnText">Button Text</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text" id="btnText" name="btntext" placeholder="Enter Button Text" >
                                                    </div>
                                                </div>
                                            
                                                <!-- Contact Number -->
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0" for="contactNumber">Contact Number</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="tel" id="contactNumber" name="contact_number" placeholder="Enter Contact Number" >
                                                    </div>
                                                </div>
                                            
                                                <!-- Contact Link -->
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0" for="contactLink">Contact Link</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="url" id="contactLink" name="contact_link" placeholder="Enter Contact Link" >
                                                    </div>
                                                </div>
                                            
                                                <!-- Background Image -->
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0" for="backgroundImage">Background Image</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control form-choose" type="file" id="backgroundImage" name="background_image" >
                                                    </div>
                                                </div>
                                            
                                                <!-- Slider Image -->
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0" for="sliderImage">Slider Image</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control form-choose" type="file" id="sliderImage" name="slider_image" >
                                                    </div>
                                                </div>
                                            
                                                <!-- Submit Button -->
                                                <div class="text-end">
                                                    <button type="submit" class="btn btn-primary" id="addSliderButton">Add Slider</button>
                                                </div>
                                            </form>
                                            
                                
                                            <!-- Response Message -->
                                            <div id="responseMessage" class="mt-3"></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New Product Add End -->

                <!-- footer Start -->
                <div class="container-fluid">
                    <footer class="footer">
                        <div class="row">
                            <div class="col-md-12 footer-copyright text-center">
                                <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
                            </div>
                        </div>
                    </footer>
                </div>
                <!-- footer En -->
            </div>
            <!-- Container-fluid End -->
        </div>
        <!-- Page Body End -->
    </div>
    <!-- page-wrapper End -->

    <!-- Modal Start -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                    <p>Are you sure you want to log out?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    <div class="button-box">
                        <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn  btn--yes btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#addSliderForm').on('submit', function (event) {
                event.preventDefault();
    
                // Disable button
                $('#addSliderButton').text('Adding...').attr('disabled', true);
    
                // Collect data    
                const subTitle = $('#subTitle').val();
                const title = $('#title').val();
                const paragraph = $('#paragraph').val();
                const btnText = $('#btnText').val();
                const contactNumber = $('#contactNumber').val();
                const contactLink = $('#contactLink').val();
                const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
    
                // Validate fields
                if (!subTitle || !title || !paragraph || !btnText) {
                    $('#responseMessage').html('<div class="alert alert-danger">Please fill all required fields.</div>');
                    $('#addSliderButton').text('Add Slider').attr('disabled', false);
                    return;
                }
    
                // Validate file inputs
                const bgImage = $('#backgroundImage')[0].files[0];
                const sliderImg = $('#sliderImage')[0].files[0];
    
                if (!bgImage || !sliderImg) {
                    $('#responseMessage').html('<div class="alert alert-danger">Please select both background and slider images.</div>');
                    $('#addSliderButton').text('Add Slider').attr('disabled', false);
                    return;
                }
    
                // Check file size (example: limit to 2MB)
                const maxFileSize = 2 * 1024 * 1024; // 2MB
                if (bgImage.size > maxFileSize || sliderImg.size > maxFileSize) {
                    $('#responseMessage').html('<div class="alert alert-danger">File size must not exceed 2MB.</div>');
                    $('#addSliderButton').text('Add Slider').attr('disabled', false);
                    return;
                }
    
                // AJAX Request
                const formData = new FormData();
                formData.append('subTitle', subTitle);
                formData.append('title', title);
                formData.append('paragraph', paragraph);
                formData.append('btnText', btnText);
                formData.append('contactNumber', contactNumber);
                formData.append('contactLink', contactLink);
                formData.append('csrfmiddlewaretoken', csrfToken);
                formData.append('background_image', bgImage);
                formData.append('slider_image', sliderImg);
    
                $.ajax({
                    url: "{% url 'fresh:add_slider' %}", // Replace with your URL
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        $('#responseMessage').html('<div class="alert alert-success">' + response.message + '</div>');
                        $('#addSliderButton').text('Add Slider').attr('disabled', false);
                        $('#addSliderForm')[0].reset();
                    },
                    error: function (xhr) {
                        const error = xhr.responseJSON ? xhr.responseJSON.message : 'An error occurred.';
                        $('#responseMessage').html('<div class="alert alert-danger">' + error + '</div>');
                        $('#addSliderButton').text('Add Slider').attr('disabled', false);
                    }
                });
            });
        });
    </script>
    
    

</body>

{% endblock content %}